<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <h2>Vehiculos</h2>
        <c-card class="mb-4">
            <c-card-header>
              <strong>Registro Nuevo</strong>
            </c-card-header>
            <c-card-body>
                <form cForm>
                  <div class="mb-3">
                    <label cLabel for="exampleFormControlInput1">Marca</label>
                    <input cFormControl
                           id="exampleFormControlInput1"
                           placeholder="Ingrese marca"
                           type=""
                    />
                    <label cLabel for="exampleFormControlInput1">Modelo</label>
                    <input cFormControl
                           id="modelo"
                           placeholder="Ingrese Modelo"
                           type="text"
                    />
                    <label cLabel for="exampleFormControlInput1">Color</label>
                    <input cFormControl
                           id="color"
                           placeholder="Ingrese Color"
                           type="text"
                    />
                    <label cLabel for="exampleFormControlInput1">Placa</label>
                    <input cFormControl
                           id="placa"
                           placeholder="Ingrese Placa"
                           type="text"
                    />
                  </div>                 
                </form>
            </c-card-body>
          </c-card>
    </c-col>
</c-row>
